.topNav {
	z-index: 1;
    width:50%;
    position: absolute;
	top: 10px;
	left: 30%;
	right: 20%;
}

.leftNav {
	z-index: 1;
    width:20%;
    position: absolute;
	top: 10%;
	left: 0px;
	right: 80%;
	direction:rtl;
}


.news-panel-tab{
    left: 0px;
	direction: ltr;
	opacity: .9;
}

.news-panel-icon{
    height: 25px;
    width: 25px;
    display: block;
    margin-left: 1px;
    margin-right: 1px;
}

.news-panel-header{
   padding-bottom: 5px;	
}

.news-panel-collapse-icon {
    height: 18px;
    width: 18px;
    display: block;
    margin-left: auto;
    margin-right: 1px;
   
}


.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

#map {
	z-index: 0;
    width:100%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#fullScreenButton {
  position: absolute;
  top: 10px;
  left: 95%;
  height: 35px;
  width: 35px;
  z-index: 5;
  background-color: #fff;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
}

.fullScreen-icon {
	position: absolute;
    height: 35px;
    width: 35px;
      top: 10px;
  left: 95%;
    z-index: 5;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

.scrollable-menu {
    height: auto;
    max-height: 90vh;
    overflow-x: hidden;
}




.panel.ng-hide {
  left: -100%;
}

.panel.ng-hide-add, .panel.ng-hide-remove {
  /* this is required as of 1.3x to properly
     apply all styling in a show/hide animation */
  transition: 0s linear all;
}


.panel.ng-hide-add-active, .panel.ng-hide-remove-active {
/* -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
*/
transition: all ease-in-out 0.5s;
}
.panel.ng-show-add-active {
  display: block;
}